aiohttp==0.21.6
backports.shutil-get-terminal-size==1.0.0
cchardet==1.0.0
chardet==2.3.0
colorfulprinter==0.8.0
decorator==4.0.9
Django==1.9.6
gevent==1.1.1
greenlet==0.4.10
ipython==4.2.0
ipython-genutils==0.1.0
pexpect==4.1.0
pickleshare==0.7.2
pkg-resources==0.0.0
pluggy==0.3.1
powerline-status==2.4
ptyprocess==0.5.1
py==1.4.31
requests==2.10.0
scikit-learn==0.17.1
simplegeneric==0.8.1
tox==2.3.1
traitlets==4.2.1
virtualenv==15.0.2
yapf==0.10.0
