{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'images/favaico.ico' %}" >
    <title>DrinkSober|{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'js/vue.js' %}"></script>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="//cdn.bootcss.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/screen.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script>
        Vue.config.delimiters = ['${', '}']
    </script>
    {% block extrahead %}
    {% endblock %}
</head>
<body class="home-template">
    <header class="main-header">
        <div class="container">  <!-- 容器-->
            <div class="row">    <!-- 栅格系统 -->
                <div class="col-md-12">
                    <a class="branding" href="http://www.drinksober.com" title="Blog for DrinkSober">
                        <img src="{% static 'images/skeleton.jpg' %}">
                    </a>
                </div>
            </div>
        </div>
    </header>
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-header">
                    <span class="nav-toggleable-button collapse" data-target="#main-menu">
                      <span class="sr-only"> Toggle Navigation</span>
                      <i class="fa fa-bars"></i>
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="nav-current" role="presentation">
                            <a href="/">DrinkSober</a>
                        </li>
                        <li  role="presentation">
                            <a href="{% url 'article.views.archive' %}">Archive</a>
                        </li>
                        <li  role="presentation">
                            <a href="{% url 'article.views.aboutme' %}">AboutMe</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="content-warp">
    <div class="container">
        <div class="row">
            {% block sidebar_left %}
            {% endblock %}
            <!--<main class="col-md-8 col-md-offset-2 main-content">-->
                {% block content %}
                {% endblock %}
            <!--</main>-->
            {% block sidebar_right %}
            {% endblock %}
        </div>
    </div>
</section>
<hr>
<footer class="copyright">
    <div class="container">
        <div class="text-center center-block">
            <p class="txt-railway">- DrinkSober.com -</p>
                <a href="https://www.github.com/drinksober"><i id="social-fb" class="fa fa-github-square fa-3x social"></i></a>
                <a href="mailto:drinksober@foxmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    </div>
    </div>
</footer>
</body>
</html>
