{% extends "base.html" %} {% load custom_markdown %}{% block title %}Home{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="/static/css/post.css">

{% endblock %}
{% block content %}
<main id="article" class="col-md-8" main-content ">

    {% if error %}
    <h1 class="post-title ">没有相关文章题目</h1>
    {% else %}
        {% for post in post_list %}
        <article class="post ">
        <article v-for="post in article_list" class="post">
        ${post.pk}

    <!-- 博文头-->
            <div class="post-head ">
                <h1 class="post-title "><a href="/article/" + {{post.id}}>
                    {{ post.title }} </a>
                </h1>
                <div class="post-meta ">
                      <span class="glyphicon glyphicon-user " aria-hidden="true "><a href="/ ">DrinkSober</a> </span>

                    <span class="glyphicon glyphicon-time " aria-hidden="true "><time class="post-date " datetime="{{post.timestamp}} " title="post.timestamp ">{{ post.timestamp |date:'Y年m月d日'}}
                    </time></span>

                </div>
            </div>
    <!--插入图片-->
            <div class="featured-media ">
                <a href="/article/" + {{post.id}}>
                    <img src="{{ post.avatar_thumbnail.url }} " / alt="{{post.title}} " class="img-rounded "></a>
            </div>
    <!-- 博文内容-->
            <div class="post-content ">
            </div>
            <div class="post-permalink ">
                <a href="/article/" + "{{post.id}}" class="btn btn-default ">read more</a>
            </div>
            <footer class="footer clearfix ">
                <hr>
                <div class=" content tag-cloud ">

                    <span class= "glyphicon glyphicon-certificate " aria-hidden="true "></span>
                    {% for tag in post.tags.all %}
                        {{ tag }}
                    {% endfor %}
                </div>
            </footer>
        </article>
        {% endfor %}
    {% endif %}
    <!-- 分页-->
        <nav>
            {# post.full_name|upper #}
            <ul class="pager ">
                {% if  post_list.has_previous %}
                <li><a href="{% url 'home' page=post_list.previous_page_number %} ">Previous</a></li>
                {% endif %}
                {% if post_list.has_next %}
                <li><a href="{% url 'home' page=post_list.next_page_number %} ">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </main>

    <!-- 侧栏-->
    <aside class="col-md-4 sidebar ">

        <!-- 微博-->
        <div class="widget ">
            <h4 class="title ">WeiBo</h4>
            <div class="content community ">
                <iframe width="100% " height="550 " class="share_self "  frameborder="0 " scrolling="no " src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=1&uid=2476067225&verifier=3c08c88d&colors=ffc20e,ffffff,000000,0082cb,ecfbfd&dpc=1 "></iframe>
            </div>
        </div>
        <!-- 标签云 -->
        <div class="widget ">
            <h4 class="title ">CloudTag</h4>
            <div class="content tag-cloud " id="tag ">
                {% for tag in tag_list %}
                <a href="{% url 'apps.article.views.tags_archive' item=tag %} " rel="category tag ">{{ tag }} </a>
                {% endfor %}
            </div>
        </div>
        <!-- 分类 -->
        <div class="widget ">
            <div class="content community ">
                <h4 class="title ">Category</h4>
                <div class="content tag-cloud ">
                    {% for sort in sort_list %}
                            <a href="{% url 'apps.article.views.category_archive' item=sort.name %} " >{{ sort.name }}</a>
                    {% endfor %}
                    <hr>
                </div>
            </div>
        </div>
        <!--搜索-->
        <div class="widget ">
            <div class="input-group ">
                <span class="input-group-btn ">
                <button id="search" class="btn btn-default " type="button " v-on:click="searchArticle ">Search!</button>
              </span>
                <input id="searchtext " type="text " class="form-control " placeholder="Search for... ">
            </div>
<script>
new Vue({
    el: '#search',
    methods: {
        searchArticle: function() {
            search_val = $("#searchtext ").val();
            window.location.href = '/article/search' + '?q=' + search_val;
        }
    }
})
</script>

        </div>

        </div>
        <!--联系我-->
    </aside>
<script type="text/javascript ">
var articleURL = '/article/archive/'
var apiURL = 'https://api.github.com/repos/vuejs/vue/commits?per_page=3&sha='
var demo = new Vue({
    el: '#article',
    data: {
        post_list: null
    },
    created: function() {
        this.fetchData()
    },
    methods: {
        fetchData: function() {
            var self = this
            var res = $.get(articleURL, function() {
                self.post_list = res.responseJSON
            })
        }
    }
})
</script>

<div id="app">
  <h1>Hello App!</h1>
  <p>
    <!-- 使用指令 v-link 进行导航。 -->
    <a v-link="{ path: '/foo' }">Go to Foo</a>
    <a v-link="{ path: '/bar' }">Go to Bar</a>
  </p>
  <!-- 路由外链 -->
  <router-view></router-view>
</div>

<script type="text/javascript">
// 定义组件
var Foo = Vue.extend({
    template: '<p>This is foo!</p>'
})

var Bar = Vue.extend({
    template: '<p>This is bar!</p>'
})

// 路由器需要一个根组件。
// 出于演示的目的，这里使用一个空的组件，直接使用 HTML 作为应用的模板
var App = Vue.extend({})

// 创建一个路由器实例
// 创建实例时可以传入配置参数进行定制，为保持简单，这里使用默认配置
var router = new VueRouter()

// 定义路由规则
// 每条路由规则应该映射到一个组件。这里的“组件”可以是一个使用 Vue.extend
// 创建的组件构造函数，也可以是一个组件选项对象。
// 稍后我们会讲解嵌套路由
router.map({
    '/foo': {
        component: Foo
    },
    '/bar': {
        component: Bar
    }
})

// 现在我们可以启动应用了！
// 路由器会创建一个 App 实例，并且挂载到选择符 #app 匹配的元素上。
router.start(App, '#app')
</script>
{% endblock %}

