{% extends "base.html" %}
{% load custom_markdown %}
{% block title %}
{% endblock %}
{% block extraheader %}
{% endblock %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Drinks</h1>
                        <hr class="small">
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container" id="home">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="post_list">
                <div class="post-preview" v-for="post in post_list">
                        <h2 class="post-title">
                        ${post.title}
                        </h2>
                        <h3 class="post-subtitle">
                            ${post.content}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">${post.belongto.username}</a> ${post.update_date}</p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <router-view></router-view> -->
    </div>
    <hr>


<script src="/static/js/page/router.js"></script>
<script src="/static/js/page/vue.js"></script>


{% endblock %}

