{% extends "base.html" %}
{% load custom_markdown %}
{% block title %}
{% endblock %}
{% block extraheader %}
{% endblock %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <div id="home">
    <header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Drinks</h1>
                        <hr class="small">
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="post_list">
                {% if error %}
                    <h1 class="post-title ">没有相关文章题目</h1>
                {% else %}
                <div class="post-preview" v-for="post in post_list">
                <a v-link="{ path: '/article/1/' }">Go to Foo</a>
                     <!-- <a v-link="{ path: '/article/1/' }"> -->
                     <!-- <a href="#"> -->
                        <h2 class="post-title">
                        ${post.fields.title}
                        </h2>
                        <h3 class="post-subtitle">
                            ${post.fields.content}
                        </h3>

                    </a>
<!-- <router-view></router-view> -->
                    <p class="post-meta">Posted by <a href="#">${post.fields.author}</a> ${post.fields.timestamp}</p>

                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
</div>

<script src="/static/js/home.js"></script>


{% endblock %}

