{% extends "base.html" %}
{% load custom_markdown %}
{% block title %}{{ post.title }}{% endblock %}

{% block sidebar_left %}

{% endblock %}
{% block content %}
<main class="col-md-10 col-md-offset-1 main-content">
    <article class="post tag-about-drinksober tag-driknsober-in-depth  ">
    {{ user }}
    <!-- 博文-->
        <div class="post-head">
            <h1 class="post-title">
                {{ object.title }} </a>
            </h1>
            <div class="post-meta">
                <span class="author">作者：<a href="/">DrinkSober</a></span>
                <time class="post-date" datetime="{{object.timestamp}}" title="object.timestamp">
                    {{ object.timestamp |date:'Y年m月d日'}}</time>
            </div>
        </div>
    <!--插入图片-->
            <div class="col-md-12">
            <img src="{{ object.avatar_thumbnail.url }}" class="center-block img-responsive img-thumbnail" alt="Responsive image">
            </div>

    <!-- 博文内容-->
        <div class="post-content col-md-12">
            {{object.summary|custom_markdown}}
            {{object.content|custom_markdown }}
        </div>
        <footer class="col-md-12 footer clearfix">
            <form class="form-horizontal" action="{% url 'article.views.add_Comment' pk=object.id %}" method="POST" id="commentform">
                <div class="form-group">
                    {% csrf_token %}
                    <div class="col-xs-4">
                    <input class="form-control" type="text" name="author"  placeholder="写上你的大名">
                    </div>
                    <div class="col-xs-8">
                    <input class="form-control" type="text" name="email" placeholder="没什么卵用的电子邮箱">
                    </div>
                    <div class="col-xs-12">
                    <textarea class="form-control" name="text"  rows="3" cols="12" placeholder="评论些什么吧"></textarea>
                    </div>
                    <div class="col-md-1 col-md-offset-9">
                        <input class="btn btn-info" type="submit" value="Submit" >
                    </div>
                </div>
            </form>
            {% if comments %}
                {% for comment in comments %}
                <div class="container">
                    {{ comment.author }} : {{ comment.text }}
                    <br>
                    分钟
                </div>
                {% endfor %}
            {% endif %}
        </footer>
    </article>
    <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
    </nav>
</main>
{% endblock %}
{% block sidebar_right %}

{% endblock %}
