{% extends "base.html" %}
{% load custom_markdown %}
{% block title %}文章{% endblock %}
{% block extrahead %}
{% endblock %}

{% block content %}
<div id="article">
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading" v-model="article">
                        <h1>${article.title}</h1>
                        <h2 class="subheading">${article.content}</h2>
                        <span class="meta">Posted by <a href="#">${article.belongto.username}</a> ${article.update_date}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    ${article.content}
                </div>
            </div>
        </div>
    </article>

    <hr>
</div>
<script type="text/javascript">

var demo = new Vue({
    el: '#article',
    data: {
        article: null
    },
    created: function() {
        this.fetchData()
    },
    methods: {
        fetchData: function() {
            var self = this
            var url = '/api/article/' + window.location.pathname.split('/')[2] + '/'
            var res = $.get(url, function() {
                self.article = res.responseJSON
            })
        }
    }
})
</script>
{% endblock %}
