{% extends "base.html" %}
{% load custom_markdown %}
{% block title %}文章{% endblock %}
{% block extrahead %}
{% endblock %}

{% block content %}
<div id="article">
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading" v-model="article">
                        <h1>${article.fields.title}</h1>
                        <h2 class="subheading">${article.fields.content}</h2>
                        <span class="meta">Posted by <a href="#">${article.fields.author}</a> ${article.fields.timestamp}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    ${article.fields.content}
                </div>
            </div>
        </div>
    </article>

    <hr>
</div>
<script type="text/javascript">
    // var Vue = require('vue');
    // Vue.use(require('vue-resource'));
var vm = new Vue({
    el: '#article',
    data: {
        article: null
    },
    ready: function(){
        this.$http.get('/article/api/1/', {}).then(function(response) {
            this.$set('article', response.data[0])
        }, function(response) {
            // handle error
        });
    },

});

</script>
{% endblock %}
